/*****FONTS****/

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Roman'), local('Helvetica-Neue-Roman'),
        url('/fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('/fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('/fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Bold'), local('Helvetica-Neue-Bold'),
        url('/fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('/fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
  }
/***************************/ 

/******COLORS*******/
    $body-background:#343539;
    $number_title:#EF483E;
    $text:#fff;
    $main-block:#4B4B4F; //Боковое сообщение
    $check-block_bg:#4B4B4F;
    $button:#717174;
/*******************/

/*********MIXINS**********/

@mixin flex-content($justify, $align) {
    display:flex;
    justify-content:$justify; 
    align-items:$align;
}

/*************************/  

/************Import******/
@import "reset.scss";

@import "general.scss";  //Повторяющиеся стили на сайте
@import "main-info.scss";//Боковое сообщение
@import "main.scss";     //Уникальеные стили для блоков


@import "media.scss";